/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  word-break: initial;
  font-family: Barlow Condensed;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* theme */
html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
}
* {
  box-sizing: border-box;
}
#viewport {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  -webkit-perspective: 100vw;
          perspective: 100vw;
}
#viewport section {
  height: 100vh;
  width: 100vw;
  position: absolute;
  -webkit-perspective: inherit;
          perspective: inherit;
}
div.cube {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: absolute;
/*transform: translateZ(50vw);*/
  -webkit-transform-origin: 50vw 50vh 50vw;
          transform-origin: 50vw 50vh 50vw;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
/*animation: rotation3d 3s ease-in-out infinite;*/
}
.cube > div {
  width: 100vw;
  position: absolute;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: initial;
          transform-style: initial;
}
.cube .lyrics__section {
  -webkit-transform: translateZ(100vw) rotateY(180deg);
          transform: translateZ(100vw) rotateY(180deg);
/*background-color: rgba(255, 0, 0, 0.5);*/
}
.cube .map__section {
  -webkit-transform: translateX(50vw) translateZ(50vw) rotateY(-90deg);
          transform: translateX(50vw) translateZ(50vw) rotateY(-90deg);
/*background-color: rgba(0, 255, 0, 0.5);*/
}
.arrow {
  position: absolute;
  color: #fff;
  top: calc(50% - 20px);
  margin: 20px;
  transition: all 1s;
}
.arrow:hover {
  color: #800080;
  cursor: pointer;
}
@-webkit-keyframes rotation3d {
  0% {
    -webkit-transform: translateZ(50vw) rotateY(0deg);
            transform: translateZ(50vw) rotateY(0deg);
  }
  49% {
    -webkit-transform: translateZ(50vw) rotateY(90deg);
            transform: translateZ(50vw) rotateY(90deg);
  }
  51% {
    -webkit-transform: translateZ(50vw) rotateY(90deg);
            transform: translateZ(50vw) rotateY(90deg);
  }
  100% {
    -webkit-transform: translateZ(50vw) rotateY(180deg);
            transform: translateZ(50vw) rotateY(180deg);
  }
}
@keyframes rotation3d {
  0% {
    -webkit-transform: translateZ(50vw) rotateY(0deg);
            transform: translateZ(50vw) rotateY(0deg);
  }
  49% {
    -webkit-transform: translateZ(50vw) rotateY(90deg);
            transform: translateZ(50vw) rotateY(90deg);
  }
  51% {
    -webkit-transform: translateZ(50vw) rotateY(90deg);
            transform: translateZ(50vw) rotateY(90deg);
  }
  100% {
    -webkit-transform: translateZ(50vw) rotateY(180deg);
            transform: translateZ(50vw) rotateY(180deg);
  }
}
/* pages*/
.search__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #808080;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#address__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
#search {
  width: 500px;
  height: 50px;
  padding: 0 15px;
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: bold;
  color: #696969;
  background: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.8);
}
#search:focus {
  border: none;
  background-color: #fff;
}
#search::-webkit-input-placeholder {
  color: rgba(0,0,0,0.25);
}
#search:-ms-input-placeholder {
  color: rgba(0,0,0,0.25);
}
#search::placeholder {
  color: rgba(0,0,0,0.25);
}
#search:not(:focus) ~ .search__results {
  opacity: 0;
}
#submit {
  font-family: Barlow Condensed;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px #fff solid;
  border-radius: 5px;
  color: #fff;
  background: none;
  margin-left: 20px;
  padding: 5px 15px;
}
.search__logo {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}
.search__results {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  width: 500px;
  left: 0;
  font-family: Barlow Condensed;
  font-size: 20px;
  font-weight: bold;
  color: #696969;
  background: none;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}
.search__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 15px;
  cursor: pointer;
  background-color: #fff;
}
.search__single.disabled {
  color: rgba(0,0,0,0.25);
  background-color: rgba(255,255,255,0.8);
}
.search__single:hover {
  background-color: rgba(255,255,255,0.5);
}
.search__single.selected {
  background-color: rgba(255,255,255,0.5);
}
.search__credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0%;
  width: 100%;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
.search__credits img {
  height: 35px;
  margin: 0 10px;
}
.search__input {
  position: relative;
}
.search__input .clear__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  right: 10px;
  top: 0px;
  color: #000;
  cursor: pointer;
}
.search__input.empty .clear__input {
  cursor: none;
  color: rgba(0,0,0,0.25);
}
.list__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
