.search__section
  display flex
  color white
  background-color: grey;
  flex-direction column
  align-items: center
  justify-content: center
#address__form
  display flex
  align-items center
  justify-content: center
  position: relative
#search
  width 500px
  height 50px
  padding 0 15px
  font-family Barlow Condensed
  font-size 20px
  font-weight bold
  color dimgray
  background: none
  border none
  border-radius 5px
  background-color rgba(255, 255, 255, .8)
  //text-transform uppercase
  &:focus
    border none
    background-color white
  &::placeholder  
     color rgba(0, 0, 0, .25)
  &:not(:focus) ~ .search__results
    opacity 0
#submit
  font-family Barlow Condensed
  font-size 20px
  text-transform uppercase
  border 3px white solid
  border-radius 5px
  color white
  background none
  margin-left 20px
  padding 5px 10px
.search__logo
  font-size 50px
  color white
  margin-bottom 20px
.search__results
  position: absolute
  top: 100%
  margin-top: 10px
  width: 500px
  left: 0
  font-family Barlow Condensed
  font-size 20px
  font-weight bold
  color dimgray
  background: none
  border none
  border-radius 5px
  background-color white
.search__singleResult
  display flex
  align-items center
  height 50px
  padding 0 15px
  cursor pointer
  &:hover
    background-color rgba(0, 0, 0, .05)
  &.selected
    background-color rgba(0, 0, 0, .05)
.search__credits
    display flex
    position absolute
    bottom 0%
    width 100%
    font-size 18px
    align-items center
    justify-content center
    padding-bottom 20px
    img
      height 35px
      margin 0 5px
