.search__section
  display flex
  color white
  background-color: grey;
  flex-direction column
  align-items: center
  justify-content: center
#address__form
  display flex
  align-items stretch
  justify-content: center
  position: relative
#search
  width 500px
  height 50px
  padding 0 15px
  font-family bariolregular
  font-size 20px
  font-weight bold
  color dimgray
  background: none
  border none
  border-radius 5px
  background-color rgba(255, 255, 255, .8)
  //text-transform uppercase
  &:focus
    border none
    background-color white
  &::placeholder  
     color rgba(0, 0, 0, .25)
  &:not(:focus) ~ .search__results
    opacity 0
#submit
  font-family bariolregular
  font-size 20px
  text-transform uppercase
  border 3px white solid
  border-radius 5px
  color white
  background none
  margin-left 20px
  padding 5px 15px
.search__logo
  width 300px
  color white
  margin-bottom 20px
.search__results
  position: absolute
  top: 100%
  margin-top: 10px
  width: 500px
  left: 0
  font-family Barlow Condensed
  font-size 20px
  font-weight bold
  color dimgray
  background: none
  border none
  border-radius 5px
  overflow hidden
.search__single
  display flex
  justify-content space-between
  align-items center
  height 50px
  padding 0 15px
  cursor pointer
  background-color white
  &.disabled
    color rgba(0, 0, 0, .25)
    background-color: rgba(255,255,255,0.8)
    cursor none
  &:hover
    background-color rgba(255,255,255,0.5)
  &.selected
    background-color rgba(255,255,255,0.5)
.search__credits
  display flex
  position absolute
  bottom 0%
  width 100%
  font-size 18px
  align-items center
  justify-content center
  padding-bottom 20px
  img
    height 35px
    margin 0 10px
.search__input 
  position relative
  .clear__input
    display flex
    align-items center
    position absolute
    height 100%
    right 10px
    top 0px
    color black
    cursor pointer
  &.empty
    .clear__input
      cursor none
      color rgba(0, 0, 0, .25)
// Slider
.search__slides
  display flex
.search__slide
  display none
  
  &.show
    display flex